<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./inc/head.ejs')%>
</head>

<body>

    <%-include('./inc/navbar')%>
    <section>
        <h1>Yazilar</h1>
        <ul>
            <% blogs.forEach(blog => { %>
                <li>
                    <a href="/blog/<%=blog._id%>"> <%=blog.title%> </a>
                    <p><%=blog.short%> </p>
                </li>
            <%})%>
        </ul>
    </section>

    <br><br><br><br><br><br><br><br><br><br>

</body>

</html>